form {
  padding: 30px;
  background-color: var(--bg-buttonTest);
  border-radius: 5px;
}

form input {
  padding: 10px;
  width: 340px;
  background-color: rgb(231, 231, 231);
  border: none;
  border-radius: 5px;
}
