@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

:root {
  --bg: #abd1c6;
  --bg-dark: #004643;
  --bg-headline: #fffffe;
  --bg-paragraph: #133a2f;
  --bg-buttonTest: #001e1d;
  --bg-button: #f9bc60;
}

html,
body {
  background-color: var(--bg-dark);
}

a {
  text-decoration: none;
}
